*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    color: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    padding: 0;
}

