.footer {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-grey-color);
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo--white {
  color: var(--primary-white-color);
}

.footer__logo {
  color: var(--accent-color);
  font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.address__list {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address__link--white {
  color: var(--primary-white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.connection {
  display: flex;
  flex-direction: column;
}

.connection__title {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.connection__list {
  display: flex;
  padding: 0;
  margin: 0;
}

.connection__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.connection__icon {
  fill: currentColor;
}

.email-field {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--primary-white-color);

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
  }
}

.sign__button {
  position: relative;
  display: inline-flex;
  align-items: center;

  margin-left: 12px;
  padding: 10px 28px;

  border-radius: 4px;
  border-color: var(--accent-color);
  border: 1px solid transparent;
  height: 50px;
  min-width: 200px;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  text-align: center;

  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.sign__icon {
  position: absolute;
  fill: currentColor;
  right: 28px;
}
